ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section {
    background: #151414;
}

.footer-container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
    padding: 20px 0;
}

.single-cta {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    margin-right: 15px;
    padding: 10px;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    padding: 20px 0;
}

.footer-logo {
    padding-top: 20px;
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.facebook-bg {
    background: #3B5998;
}

.twitter-bg {
    background: #55ACEE;
}

.google-bg {
    background: #DD4B39;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 15px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu {
    text-align: right;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
}

.footer-menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu ul li a {
    color: #878787;
    font-size: 14px;
}

.footer-menu ul li a:hover {
    color: #ff5e14;
}

/* Responsive CSS */
@media (max-width: 767px) {
    .footer-cta .single-cta {
        text-align: center;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .single-cta i {
        margin-bottom: 10px;
    }
    .cta-text {
        text-align: center;
    }
    .footer-logo, .footer-social-icon {
        text-align: center;
    }
    .footer-widget ul li {
        display: block;
        width: 100%;
    }
    .footer-menu {
        text-align: center;
        margin-top: 20px;
    }
    .footer-menu ul li {
        display: inline-block;
        margin-left: 10px;
    }
    .text-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: center;
    }
    .text-right {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-menu {
        text-align: center;
    }
    .footer-menu ul li {
        display: inline-block;
        margin-left: 15px;
    }
}

.row {
    display: flex;
    flex-wrap: colomn;
}

.col-xl-4, .col-md-4, .col-lg-4, .col-md-6, .col-lg-6, .col-xl-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-4, .col-md-6 {
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-md-6 {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-4, .col-lg-6 {
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-4, .col-xl-6 {
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-xl-6 {
        width: 50%;
    }
}
