/* Base styles */
body,
h1,
ul,
li,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    /* border-bottom: 1px solid #ddd; */
}

.header-left,
.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.header-right {
    justify-content: flex-end;
}

.detail-header {
    flex: 0 !important;
    justify-content: flex-start !important;
    background-color: white;
}

.logo-container-navbar-svg {
    display: flex;
    gap: 16px;
}

.logo-container-detail-header-container {
    background: white !important;
    padding-bottom: 0px !important;
}

.header-left svg,
.header-right svg {
    width: 20px;
    height: 20px;
    fill: #333;
}

.logo-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.logo-container h1 {
    font-size: 24px;
    font-weight: normal;
}

.hr {
    width: 97%;
    height: 1px;
    background-color: #000000;
    opacity: 10%;
}

/* Navigation styles */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    background-color: white;
}

nav ul li {
    padding: 10px;
    margin: 0 15px;

}

nav ul li a {
    text-decoration: none;
    color: #726E8D;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
}

nav ul li a:hover {
    color: #000;
}


.header-pop-up {
    display: flex;
    justify-content: center;
    background: #22202E;
    color: white;
    height: 41px;
    align-items: center;
}

.header-pop-up span {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 428px;
    height: 17px;
    left: calc(50% - 428px/2 - 0.5px);
    top: 11px;
}

/* Style for the dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    z-index: 1;
    /* display: block; */
    top: 55px;
    right: 15px;
    border-radius: 10px;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu ul li:last-child {
    border-bottom: none;
    /* Remove border from the last dropdown item */
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-menu ul li:hover {
    background-color: #f1f1f1;
}

.modal-content {
    height: 500px !important;
    justify-content: center;
    width: 757px !important;
    max-width: 800px !important;
    border-radius: 0px;
}

.modal-inner-container svg {
    width: 100%;
}
.modal-inner-div { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.modal-inner-div p{
width: 316px;
height: 44px;
left: 566px;
top: 402px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
color: #3F3D56;
}

.modal-inner-div span{
width: 579px;
height: 58px;
left: 433px;
top: 446px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #434343;
}

.user-btn { 
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

.modal-content span {
    width: 579px;
    height: 58px;
    left: 433px;
    top: 446px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px;
    color: #434343;
}

.modal-content p {
    width: 316px;
    height: 44px;
    left: 566px;
    top: 402px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin: 0px;
    color: #3F3D56;
}

.signupForm-field { 
    display: flex;
    gap: 20px;
}

.signupForm-field input {
    background-color: #EBEBEB;
    opacity: 30%;
    color: black;
}

.signupForm-field ::placeholder{
    color: #000;
}

.modal-content button {
left: 25.28%;
right: 25.42%;
top: 52.63%;
bottom: 43.56%;
background: linear-gradient(90deg, #EA9A37 0%, #F7BA6F 100%);
border-radius: 8px;
}

.loginhere span { 
left: 433px;
top: 756px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px !important;
line-height: 30px;
text-align: center;
margin-left: 60px;
color: #434343;
}

.loginhere { 
    text-align: center;
}