/* Base styles */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    /* border-bottom: 1px solid #ddd; */
}

.header-left, .header-right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right {
    justify-content: flex-end;
}

.header-left svg, .header-right svg {
    width: 20px;
    height: 20px;
    fill: #333;
}

.logo-container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.logo-container h1 {
    font-size: 24px;
    font-weight: normal;
}

.hr{
    width: 97%;
    height: 1px;
    background-color: #000000 ;
    opacity: 10%;
}
/* Navigation styles */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    background-color: white;
}

nav ul li {
    padding: 10px;
    margin: 0 15px;
    
}

nav ul li a {
    text-decoration: none;
    color: #726E8D;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
}

nav ul li a:hover {
    color: #000;
}
