
.hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #333; /* Darker background color for contrast */
    color: #fff; /* Text color for contrast */
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding shadow effect */
}

.right-hero {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.right-hero img {
    width: 100%;
    max-width: 500px;
    height: auto;
    transition: opacity 1s ease-in-out;
    object-fit: contain;
}

.left-hero {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
}

.first-line {
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffdb58; /* Updated for better contrast */
}

.second-line {
    margin-top: 10px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #ffdb58; /* Updated for better contrast */
}

.third-line {
    margin-top: 10px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff; /* Updated for better contrast */
}

.shop-now-button {
    background-color: #ffdb58; /* Updated for better contrast */
    color: #333; /* Text color to contrast the button */
    padding: 10px 20px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
    align-self: flex-start;
}

/* Trending Item CSS */

.line-div {
    background-color: #f09321;
    width: 200px;
    height: 2px;
}
.line-div-2 {
    margin-top: 5px;
    background-color: #ffdb58;
    width: 100px;
    height: 2px;
}
.trending-title {
    text-align: center;
    background-color: #f1f1f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trending-title h2 {
    font-family: "Ubuntu Sans", sans-serif;
    margin: 25px 0px 0px 0px;
}
.subline {
    margin: 0px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #696868;
    font-size: 14px;
    font-weight: 400;
}

.trending-items {
    display: flex;
    padding: 10px 80px;
    align-items: center; 
    margin: 10px;
}

.item-slider {
    padding-top: 30px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    justify-content: space-between; /* Center the content horizontally */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}
.hrs{
    width: 87%;
    height: 1px;
    background-color: #000000 ;
    opacity: 10%;
}
.item {
    width: calc(25% - 20px);
   
    text-align: left;
    box-sizing: border-box;
}
.lower-btn {
    background: #f09321;
    padding: 7px;
    text-align: center;
    font-weight: 500;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
}

.lower-btn a{
    text-decoration: none;
    color: white;
}


.item:last-child {
    margin-right: 0;
}

.item img {
    width: 100%;
    height: 375px;
    border-bottom: 1px solid #ddd;
    /* Add padding to the image */
    padding: 0;
}

.item-content {
    padding-top: 0px !important;
}
.add-to-cart-btn {
    font-size: 12px;
    background: #ffdb58;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
}
.product-heading {
    font-size: 14px;
}
.description {
    margin: 0 !important;
    color: #696868;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px !important;
}
.product-img {
    /* border-radius: 10px; */
}
.first-line-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    margin: 5px 0;
}
.item span {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
color: #2A254B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.price {
    margin: 0;
}

.view-collection { 
    display: flex;
    justify-content: center;
}

.view-collection span {
    border: 1px solid transparent;
    padding: 15px;
    background: #F9F9F9;
    font-family: Rubik;
}

.item .price {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2A254B;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.item .rating {
    font-size: 14px;
    color: #f09321; /* Rating color */
}



/* Hide scrollbar in WebKit */
.item-slider::-webkit-scrollbar {
    display: none;
}

/* Add any additional styling as needed */

/* Most Bought Items */
.mostbought-title {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
}

.mostbought-title h2 {
    font-family: "Ubuntu Sans", sans-serif;
    margin: 0;
}

.mostbought-title .subline {
    margin-top: 10px;
}

.mostbought-items {
    background-color: #f1f1f2;
    padding: 30px;
    display: flex;
    gap: 10px;
}

.mostbought-items-main {
    width: 70%;
    min-height: 100px;
    background-color: #f09321;
    padding: 10px;
    box-sizing: border-box;
}

.image-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.mostbought-items-sub {
    width: 30%;
    min-height: 100px;
    background-color: #333;
    padding: 10px;
}

.image-card {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.image-card img {
    max-width: 100%;
    transition: filter 0.3s ease;
}

.image-card .title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.image-card:hover img {
    filter: blur(4px);
}

.image-card:hover .title-overlay {
    opacity: 1;
}

.special-offer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.special-offer-card {
    width: 90%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

.special-offer-card img {
    max-width: 60px;
    border-radius: 5px;
}

.special-offer-card .offer-details h3 {
    margin: 0;
    font-size: 1.1em;
    font-family: "Ubuntu Sans", sans-serif;
}

.special-offer-card .offer-details p {
    margin: 5px 0 0;
    font-size: 0.9em;
}

.special-offer-card .add-to-cart-btn {
    background-color: #f09321;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.special-gift {
    display: flex;
    margin: 20px;
    border: 1px solid black;
    padding: 55px 10px;
}
.svg-special-gift,
.content-special-gift {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.content-special-gift {
    flex-direction: column;
}
.svg-special-gift img {
    width: 70%;
}
.content-special-gift .main-text {
    font-family: roboto;
    font-size: 38px;
    font-weight: 200;
}
.main-text-2 {
    font-size: 18px;
}
.special-gift-button button {
    background-color: #f09321;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}



/* redesign */
 .what-makes-us-different {
    text-align: center;
    padding: 2rem;
  }
  
  .reasons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 80px;
  }
  
  .reason {
    width: calc(25% - 20px); /* Adjust width of each box */
    margin: 10px; /* Adjust spacing between boxes */
    padding: 20px 30px;
    background-color: #F9F9F9;
    text-align: left;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }
  .reason p {
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2A254B;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.section { 
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-top: 50px
}


.section span {
    /* What makes our brand different */

width: 360px;
height: 34px;
left: 529px;
top: 80px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;

/* identical to box height, or 34px */

/* Dark Primary */
color: #2A254B;


}
  .reason h3 {
/* padding-bottom: 10px;    */
 
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 140%;
     color: #2A254B;
     flex: none;
     order: 1;
     flex-grow: 0;

 }


 .form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px;
    margin-top: 50px;
    background-color: #F9F9F9;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 1273px;
    background: #FFFFFF;
}

.form-inner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    width: 500px;
    background: #FFFFFF;
}

.title {
width: 571px;
height: 100px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 140%;
text-align: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;

}

.subtitle {
    padding-top: 16px;
width: 470px;
height: 48px;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #000000;
flex: none;
flex-grow: 0;
}

.form-field {
    display: flex;
    width: 100%;
    position: relative;
    padding-top: 22px;
}

.form-field input {
    width: 351px; /* Adjust width to fit with the button */
    height: 56px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:0%; /* Rounded corners only on the left */
    border-right: none; /* Remove right border */
}

.sign-up-btn {
    position: absolute;
    right: 65px;
    height: 56px;
    padding: 0 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    top: 27px;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 0;
        min-height: unset;
    }

    .right-hero,
    .left-hero {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        min-height: unset;
    }

    .left-hero {
        margin-top: 20px;
    }

    .second-line {
        font-size: 35px;
    }

    .mostbought-items {
        flex-direction: column;
        padding: 0px;
        gap: 0;
    }

    .mostbought-items-main {
        width: 100%;
    }

    .mostbought-items-sub {
        width: 100%;
        padding: 0px;
    }

    .image-card .title-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.2em;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .image-card:hover img {
        filter: blur(4px);
    }

    .image-card:hover .title-overlay {
        opacity: 1;
    }

    .image-cards-container {
        display: flex;
        gap: 10px;
        width: 1000px;
    }
    .scroll {
        overflow-y: auto;
    }
    .special-gift {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .svg-special-gift{
        width: 95%;
    }
    .svg-special-gift, .content-special-gift {
        width: 95%;
        text-align: center;
    }
}


